@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

.weather-current {
  padding: 15px;
  display: flex;
  justify-content: space-between;

  :global {
    .weather-current__featured {
      flex: 1 0 60%;
      @include breakpoint(max-width 480px) {
        flex-basis: 50%;
      }

      .meta {
        span {
          @include breakpoint(max-width 480px) {
            display: block;
          }
        }
      }

      .condition {
        margin-top: 10px;
        margin-bottom: 0;
      }

      .value {
        font-size: 30px;
      }
      .unit {
        position: relative;
        font-size: 16px;
        margin-left: 5px;
        &::before {
          content: "";
          position: absolute;
          top: -10px;
          width: 5px;
          height: 5px;
          border: 2px solid black;
          border-radius: 50%;
        }
      }
    }
    .weather-current__details {
      flex: 1 0 40%;
      @include breakpoint(max-width 480px) {
        flex-basis: 50%;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;

          @include breakpoint(max-width 480px) {
            font-size: 12px;
          }

          img {
            width: 40px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
